body {
    margin: 0;
    font: sans-serif;
}

.topnav{
    overflow: hidden;
    background-color: rgb(127, 240, 255);
}

.topnav a {
    float: left;
    color: rgb(115, 135, 250);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}

.topnav a:hover {
    background-color: aliceblue;
    color: black;
}

.topnav a.active {
    background-color: rgb(0, 72, 255);
    color: black;
}

img {
    height:350px ;
    width:100%;
}