body {
    margin: 0;
    font: sans-serif;
}

.topnav {
    overflow: hidden;
    background-color: rgb(127, 240, 255);
}

.topnav a {
    float: left;
    color: rgb(115, 135, 250);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}

.topnav a:hover {
    background-color: aliceblue;
    color: black;
}

.topnav a.active {
    background-color: rgb(0, 72, 255);
    color: black;
}

img {
    height: 350px;
    width: 100%;
}

.pimg3 {
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.pimg3 {
    background-image: url(image\ \(2\).jpeg);
    min-height: 400px;
}

.section {
    text-align: center;
    padding: 50px 80px;
}

.section-dark {
    background-color: rgb(116, 169, 216);
    color: beige;
}

.ptext {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 27px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.ptext .border .trans {
    background-color: transparent;
}

@media (max-width:568px) {

    .pimg3 {
        background-attachment: scroll;
    }
}

.footer-cta {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1200px;
    margin: auto;
}

.cta-item {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px;
}

.cta-item i {
    font-size: 24px;
    color: rgb(89, 152, 245);
}

.cta-item h3 {
    margin: 0;
    font-size: 15px;
    font-weight: bold;
}

.cta-item span{
    font-size: 14px;
    color: rgb(1, 139, 174);
}

.footer-section{
background-color: #222;
color: white;
padding: 40px 0;
}